    <footer class="footer">
        <div class="row">
            <div class="column one-third m-one-whole">
                <h5 class="label" style="margin-bottom: .5rem;">Về chúng tôi</h5>
                <ul class="menu-footer">
                    <li><a href="{{ site.url }}">Xem toàn bộ tên miền</a></li>
                    <li><a href="{{ site.url }}/about/">Giới thiệu chung</a></li>
                    <li><a href="{{ site.url }}/submit-a-website/">Cập nhật miền mới</a></li>
                </ul>
                <h5 class="label" style="margin-bottom: .5rem;">Theo dấu chúng tôi</h5>
                <ul class="menu-social">
                    <li><a target="_blank" href="https://github.com/Thao-Am-Private-Charity-Funds-Vietnam"><span class="fa fa-github"></span></a></li>
                    <li><a target="_blank" href="https://facebook.com/tiepcreator"><span class="fa fa-facebook"></span></a></li>
                    <li><a target="_blank" href="https://instagram.com/tiepcreator"><span class="fa fa-instagram"></span></a></li>
                    <li><a target="_blank" href="http://tiep.vn"><span class="fa fa-home"></span></a></li>
                </ul>
            </div>
            <div class="column two-thirds m-one-whole">
                <h5 class="label" style="margin-bottom: .5rem;">Categories</h5>

                {% for category in site.categories %}
                    <a class="tag" href="/category/{{ category | first | slugify }}">{{ category | first }}</a>
                {% endfor %}
            </div>
        </div>
    </footer>
    <div class="subfooter">
        <p class="center">
            Thuộc sở hữu <span class="fa fa-heart red"></span> của
            <a href="https://tiep.vn" target="_blank">tiep.vn</a>
        </p>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ "/assets/js/app.js" | prepend: site.url }}"></script>
